body {
    margin: 0;
}

input {
    background-color: transparent;
}

#x {
    display: block;
    position: relative;
    left: 40%;
    padding: 10px;
    bottom: 2px;
    height: 5px;
    width: 5px;
    color: red;
}

.deck {
    border: 10px solid red;
}

.card {
    height: 10%;
    width: 10%;
}

#rules {
    display: none;
    height: 25vh;
    width: 25vw;
    overflow: overlay;
}

#play {
    background-color: transparent;
    font-weight: 800;
}

.land {
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    font-weight: 800;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.login {
    position: relative;
    background-color: transparent;
    top: 30vw;
    left: 5vw;
}

#dev {
    color: orange;
}

.solitaire {
    background: url("images/movingbg.gif") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: auto;
}


/*START DECK*/

.start_deck {
    position: absolute;
    margin: -1%;
    bottom: 65vh;
    left: 5%;
    box-shadow: 10px 10px grey;
}

.waste {
    position: absolute;
    margin: 1%;
    left: 18%;
    top: 5vh;
    box-shadow: 10px 10px grey;
}


/*FOUNDATION PILE*/

#foundation {
    display: flex;
    justify-content: flex-end;
}

#hearts {
    background-color: transparent;
    margin: 10px;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#diamonds {
    background-color: transparent;
    margin: 10px;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#spades {
    background-color: transparent;
    margin: 10px;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#clubs {
    background-color: transparent;
    margin: 10px;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}


/*PILE*/

.pile {
    display: flex;
    position: relative;
    top: 29%;
    justify-content: space-around;
}

#colOne {
    position: relative;
    background-color: transparent;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#colTwo {
    position: relative;
    background-color: transparent;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#colThree {
    position: relative;
    background-color: transparent;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#colFour {
    position: relative;
    background-color: transparent;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}

#colFive {
    position: relative;
    background-color: transparent;
    width: 13vw;
    height: 30vh;
    box-shadow: 10px 10px grey;
}


/* INFO */

.info {
    display: flex;
    justify-content: center;
}

#name {
    display: flex;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 5px 5px skyblue;
}

#time {
    display: flex;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 5px 5px skyblue;
}

#moves {
    display: flex;
    margin: 10px;
    background-color: transparent;
    box-shadow: 5px 5px skyblue;
}

#score {
    display: flex;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 5px 5px skyblue;
}

@media screen {}
