body {
    margin: 0;
}

input {
    background-color: transparent;
}

button {
    background-color: transparent;
    font-weight: 800;
}


/*.land{
	background: url("images/background.jpg") no-repeat center center fixed ;
	background-size: cover;	
	position: absolute;
	font-weight: 800;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 2;


}
.login{
	position: relative;
	background-color:transparent;
	top:30vw;
	left: 5vw;
}
#dev{
	color:orange;
}*/

.solitaire {
    background: url("images/movingbg.gif") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*START DECK*/
.start_deck{

}

/*FOUNDATION PILE*/

#foundation {
    display: flex;
    justify-content: flex-end;
    flex-
}

#hearts {
    background-color: blue;
    width: 50px;
    height: 50px;
}

#diamonds {
    background-color: yellow;
    width: 50px;
    height: 50px;
}

#spades {
    background-color: aqua;
    width: 50px;
    height: 50px;
}

#clubs {
    background-color: grey;
    width: 50px;
    height: 50px;
}


/*PILE*/
.pile{
	display: flex;
	justify-content: space-around;
}


#colOne {
    background-color: grey;
    width: 13vw;
    height: 30vh;
}

#colTwo {
    background-color: grey;
    width: 13vw;
    height: 30vh;
}

#colThree {
    background-color: grey;
    width: 13vw;
    height: 30vh;
}

#colFour {
    background-color: grey;
    width: 13vw;
    height: 30vh;
}
#colFive{
	background-color: grey;
    width: 13vw;
    height: 30vh;
}

@media screen {}
