
input{
	background-color: transparent;
}
button{
	background-color: transparent;
	top: 100px;
}
#land{
	position:fixed;
	background-size: cover;
}
.console{
	position: absolute;
	font-weight: 800;
	top: 350px;
    right: 120px;
}

@media screen {
	
}